* {
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 
Colors from this palette https://coolors.co/palette/7bdff2-b2f7ef-eff7f6-f7d6e0
*/
:root{
--sky-blue-crayola: #7bdff2ff;
--celeste: #b2f7efff;
--mint-cream: #EFF7F6;
--piggy-pink: #f7d6e0ff;    
--mr-grey: #495057;
}

body {
    background-color: var(--mint-cream);
}

h2 {
    font-size: large;
}

ul, ol {
    list-style: none;
}

nav {
    background-color: var(--piggy-pink);
    height: 50px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 30px;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

/* This is to remove the button styling */
.navbar .container button {
	background: none;
	border: none;
	cursor: pointer;
    font-size: large;
}

.qCard {
    margin-top: 50px;
    background-color: white;
    border: solid 1px white; 
    border-radius: 35px;
    box-shadow: 12px 12px 20px var(--piggy-pink);
}

.title {
    text-align: center;
    padding: 10px 40px 5px 40px;
}

.content {
    padding: 5px 30px 10px 30px;
    text-align: center;
}

.options, .optionsQ {
    background-color: var(--sky-blue-crayola);
    border: solid 1px var(--sky-blue-crayola);
    border-radius: 5px;
    padding: 0px 5px;
    font-size: large;
    margin: 10px 30px;
}

.options:hover, .optionsQ:hover {
    background-color: var(--celeste);
    border-color: var(--celeste);
}

ol .options, ol .optionsQ {
    display: flex;
    flex-direction: column;
}

li button, ol button {
    cursor: pointer;
}

.ul-inline {
    display: inline;
}


.vali {
    border-top: solid 3px var(--piggy-pink);
    margin: 0 30px; 
}

#startQ {
    text-align: center;
}
